.details-area{
    width: 1540px;
    background: white;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: 20px;
    gap: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.detail-row{
    display: flex;
    flex-direction: row;
    width: 1476px;
    height: 60px;
    gap: 40px;
}

.detail-cell{
    width: 180px;
    height: 60px;
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.detail-heading{
    color: #8991A1;
}

.line{
    width: 1476px;
    height: 1px;
    background: #E5E8ED;
}