.employee-row{
    height: 50px;
    width: 1540px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 8px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap:15px
}

.blue-row{
    background-color: #EAF9FF;
    font: bold;
    font-weight: 700;
}

.white-row{
    background-color: white;
    font-weight: 400;
}
.grey-row{
    background-color: #FBFCFE;
    font-weight: 400;
}
.row-item{
    height: 50px; 
    width: 180px;
    align-items: center;
    display: flex;
}

.icon-pair{
    display: flex;
    gap:10px;
}
.justify-space-between{
    justify-content: space-between;

}

select{
    display: flex;
    flex-direction: row;
    width: 90px;
    height: 26px;
    border-radius: 13px;
    background: #EAF9FF;
    border-width: 0cap;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    align-content: center;
    
}

.filter-options{
    display: flex;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    align-items:center ;
    width: 203px;
    height: 50px
}

.create-button{
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 196px;
    border-radius: 56px;
    background-color: #EAF9FF;
    padding-left: 8px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 700;
    color: #19202D;
    font-size: 16px;
    border-width: 0cap;
}

.header-items-right{
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.filter-text{
    font-size: 16px;
    font-weight: 400;
    color: #8991A1;
}

.status{
   width: 90px;
   height: 26px;
   border-radius: 13px; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.Probation{
    background-color: #FFF8D7;
    color: #AA8A00;
}

.Active{
    background-color: #DAF6E1;
    color: #00812F;
}

.Inactive{
    background-color: #FFE2E2;
    color: #DC3232;
}


.overlay {
    position: fixed;
    inset: 0;              /* top:0 right:0 bottom:0 left:0 */

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-box{
    position: fixed;
    display: flex;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    padding-top: 32px;
    padding-right: 5px;
    padding-bottom: 32px;
    padding-left: 5px;
    gap: 24px;
    width: 412px;
    /* height: 300px; */
    border-radius: 16px;
    background: white;
}


.dialog-text{
    display: flex;
    flex-direction: column;
    width: 364px;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.dialog-top-text{
    font-size: 24px;
    font-weight: 700;
    
}
.dialog-bottom-text{
    font-size: 18px;
    font-weight: 700;
    color: #474748;
    
}
.dialog-button-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.dialog-button-cancel,.dialog-button-confirm{
    height: 50px;
    width: 100%;
    padding: 15px 60px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

.dialog-button-cancel{
    background-color: white;
    border-color: #63667A;
    border-width: 1px;
    color: #63667A;
    border-style: solid;

}

.dialog-button-confirm{
    background-color: #03AEEE;
    color: white;
    border-width: 0px;
}